
@{
    ViewBag.Title = "_Footer";
}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h2 class="footer-heading mb-4">About Us</h2>
            <p>CarRental, we're not just in the business of renting cars; we're in the business of creating memories. </p>
            @*<ul class="list-unstyled social">
                <li><a href="#"><span class="icon-facebook"></span></a></li>
                <li><a href="#"><span class="icon-instagram"></span></a></li>
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-linkedin"></span></a></li>
            </ul>*@
        </div>
        <div class="col-lg-8 ml-auto">
            <div class="row">
                <div class="col-lg-3">
                    <h2 class="footer-heading mb-4">Quick Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index","Booking")" class="nav-link">Booking</a></li>
                    </ul>
                   
                </div>
                <div class="col-lg-3">
                    <h2 class="footer-heading mb-4">Resources</h2>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index","Listing")" class="nav-link">Listing</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h2 class="footer-heading mb-4">Support</h2>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("About","Home")" class="nav-link">About</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h2 class="footer-heading mb-4">Company</h2>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Ab","Home")" class="nav-link">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
</div>

