@{
    ViewBag.Title = "About";
}

<style>



    header h1 {
        margin: 0;
    }

    main {
        padding: 20px;
    }

    .about-section {
        max-width: 800px;
        margin: 0 auto;
    }

        .about-section h2 {
            color: #333;
        }

        .about-section p {
            line-height: 1.5;
        }
</style>

<div class="container">
    <div class="col-lg-10" style="margin-top: 100px;">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <header>
                    <h1>About Us</h1>
                </header>
                <main>
                    <section class="about-section">
                        <h2>Welcome to Your Car Rental Company</h2>
                        <p>Where your journey begins with convenience, reliability, and exceptional service. We're more than just a car rental company; we're your trusted partner in exploring the world on wheels.</p>
                        <p>At Your Car Rental Company, we understand that every journey is unique, and that's why we're dedicated to providing a seamless experience tailored to your needs. Whether you're embarking on a business trip, a family vacation, or simply need a temporary ride, we've got you covered.</p>
                        <p>Our fleet boasts a diverse selection of vehicles, from sleek sedans to spacious SUVs, ensuring that you'll find the perfect match for your adventure. Each vehicle is meticulously maintained and thoroughly inspected to guarantee safety and performance, giving you peace of mind every mile of the way.</p>
                        <p>What sets us apart is our commitment to customer satisfaction. Our friendly and knowledgeable team is here to assist you at every stage of your rental journey, from selecting the right vehicle to offering expert advice on local attractions and driving routes. We prioritize transparency and honesty, with no hidden fees or surprises, so you can focus on enjoying the ride.</p>
                        <p>Convenience is at the heart of what we do. With our user-friendly online booking platform, you can reserve your vehicle with ease, whether you're planning ahead or need a last-minute rental. We offer flexible pickup and drop-off options to accommodate your schedule, making your rental experience seamless and hassle-free.</p>
                        <p>At Your Car Rental Company, we're not just in the business of renting cars; we're in the business of creating memories. Whether you're cruising along scenic highways, exploring charming towns, or embarking on epic road trips, we're here to help you make the most of every moment.</p>
                        <p>Thank you for choosing Your Car Rental Company for your travel needs. We look forward to being a part of your next adventure!</p>
                    </section>
                </main>
            </div>
        </div>
    </div>
</div>